<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Rails Initializer - Rails app generator to jumpstart your development</title>
    <meta name="description" content="Rails Initializer Generate Rails applications without the command-line. This tool is a simplified interface to select the configurations you need in just a few clicks. Get started with Rails easily and efficiently!">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="h-full overflow-hidden">
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
